@media screen and (max-width: 1400px) {
    #profile {
      height: 60vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects, #experience, .contacts-container {
      height: fit-content;
    }
;
      
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    #profile{
      margin-bottom: 1rem;
    
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .portrait_logo {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    
    #profile { 
      height: 83vh;
      margin-bottom: 0;
    }

    article {
      font-size: 1rem;
    }
   
    .about-containers,
    .btn-container,.contacts-container,.contact-text, #contact {
      flex-wrap: wrap;
    }
    
  .icon{
    padding: .3em;
  }

    .experience-sub-title {
      font-size: 1.25rem;
    }
    .name {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2, .contact-text {
      font-size: 1rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .form, .textarea{
    max-width: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

  }